body {
    background-color: #1B244A;
    margin: 0;
    font-family: 'Cursed Timer ULiL'
}

.container {
    display: flex;
    justify-content: space-around;
}
h3{
width: 149px;
height: 36px;
left: 85px;
top: 68px;
font-family: 'Verdana';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 36px;
text-align: center;
color: #EEEEEE;
margin-left: 85px;
margin-top: 68px;
}
#result-el{
width: 117px;
height: 120px;
left: 100px;
top: 125px;
font-style: normal;
font-weight: 400;
font-size: 90px;
line-height: 127px;
text-align: center;
color: #F94F6D;
left: 82px;
top: 125px;
background: #080001;
border-radius: 5px;
padding-left: 18px;
padding-right: 20px;
margin-top: 21px;
margin-left: 82px;
margin-bottom: 26px;
}
button{
width: 30px;
height: 25.77px;
left: 89px;
top: 280px;
font-family: "Cursed Timer ULiL", sans-serif;
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 28px;
text-align: center;
color: #9AABD8;
margin-top: 85px;
background: none;
border: none;
width: 45px;
height: 45px;
left: 82px;
top: 271px;
border: 2px solid #9AABD8;
border-radius: 5px;
margin-top: 26px
}
#button1{
    margin-left: 75px
}
#button2{
    margin-left: 9px;
    margin-right: 9px;
}
#button3{
}
#guest-el{
width: 149px;
height: 36px;
left: 340px;
top: 68px;
font-family: 'Verdana';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 36px;
text-align: center;
color: #EEEEEE;
margin-right: 86px;
margin-left: 106px;
}
#guest-result-el{
margin-top: 21px;
margin-left: 100px;
width: 117px;
height: 120px;
left: 355px;
top: 125px;
font-family: 'Cursed Timer ULiL';
font-style: normal;
font-weight: 400;
font-size: 90px;
line-height: 127px;
text-align: center;
color: #F94F6D;
width: 155px;
height: 120px;
left: 337px;
top: 125px;
background: #080001;
border-radius: 5px;
margin-bottom: 26px;
}
#button4{
    margin-left: 95px;
    
}
#button5{
    margin-right: 8px;
    margin-left: 8px;
}
#button7{
    margin-top: 46px;
    position: absolute;
    width: 110px;
    margin-left: 325px
}